<% form_for @event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
	<div class="top_days">
	<% f.fields_for :days do |builder| %>
		<%= render 'day_fields', :f => builder %>
	<% end %>
	</div>
  <p><%= f.submit "Submit" %></p>
<% end %>