<h1>Evenements</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Desc</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.name %></td>
      <td><%=h event.desc %></td>
      <td><%= link_to "Voir", event %></td>
      <td><%= link_to "Editer", edit_event_path(event) %></td>
      <td><%= link_to "Détruire", event, :confirm => 'Etes vous sur ?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nouvel Evenement", new_event_path %></p>
