<h1>Evenement</h1>

<p>
  <strong>Name:</strong>
  <%=h @event.name %>
</p>
<p>
  <strong>Desc:</strong>
  <%=h @event.desc %>
</p>

<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", events_path %>
</p>
