<h1>Jours</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Titre</th>
    <th>Evenement</th>
  </tr>
  <% for day in @days %>
    <tr>
      <td><%=h day.date %></td>
      <td><%=h day.title %></td>
      <td><%=h day.event.name %></td>
      <td><%= link_to "Voir", day %></td>
      <td><%= link_to "Editer", edit_day_path(day) %></td>
      <td><%= link_to "Detruire", day, :confirm => 'Etes vous sur ?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nouveau Jour", new_day_path %></p>
