<h1>Jour</h1>

<p>
  <strong>Date:</strong>
  <%=h @day.date %>
</p>
<p>
  <strong>Title:</strong>
  <%=h @day.title %>
</p>
<p>
  <strong>Event:</strong>
  <%=h @day.event.name %>
</p>

<p>
  <%= link_to "Editer", edit_day_path(@day) %> |
  <%= link_to "Détruire", @day, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Voir tous", days_path %>
</p>
